<div id="<%= dom_id ban %>">
  <p>
    <strong>Ip:</strong>
    <%= ban.ip %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= ban.country %>
  </p>

  <p>
    <strong>Ts:</strong>
    <%= ban.ts %>
  </p>

  <p>
    <strong>Port:</strong>
    <%= ban.port %>
  </p>

  <p>
    <strong>Jail:</strong>
    <%= ban.jail %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= ban.username %>
  </p>

  <p>
    <strong>Uri:</strong>
    <%= ban.uri %>
  </p>

  <p>
    <strong>Method:</strong>
    <%= ban.method %>
  </p>

  <p>
    <strong>User agent:</strong>
    <%= ban.user_agent %>
  </p>

</div>
